certs/gateway/*
!certs/gateway/.gitkeep
certs/event-worker/*
!certs/event-worker/.gitkeep
certs/notify-worker/*
!certs/notify-worker/.gitkeep
.env
.env.deploy
./gateway/.env
./gateway/.env.deploy
/.idea
