certs/ca/*
!certs/ca/.gitkeep
certs/gateway/*
!certs/gateway/.gitkeep
certs/event-worker/*
!certs/event-worker/.gitkeep
certs/notify-worker/*
!certs/notify-worker/.gitkeep
.env
.env.deploy
cmd/gateway/run.sh
/.idea
docker-compose.yml